# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environment
.venv/
env/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Models
*.bin
*.pt
*.pth

# Logs
*.log

# Dataset
datasets/
